.display {
  border-radius: var(--radius-md);
  padding: 1rem;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.75rem;
}

.history {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-end;
  font-size: 1rem;
}

.result {
  font-size: 2rem;
  text-align: right;
  word-break: break-all;
}
